[Unit]
Description="loadmeters"
# After=proximity.target

[Service]
#Type=
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /home/matto/github/LoadMeters/ruptime2.py

[Install]
WantedBy=default.target
